* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(
    to left bottom,
    #5886c9,
    #3b9ad0,
    #34abce,
    #4dbbc8,
    #70c8c0
  );
  color: white;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #caf061;
  background: white;
  cursor: pointer;
}
form button:hover {
  background: #caf061;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 25%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo li {
  flex: 1;
}
.delete-btn,
.complete-btn {
  background: #f06161;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #0bd4a2;
}
.todo-item {
  padding: 0rem 0.5rem;
}
